# gitignore template for the Cordova framework
# website: https://cordova.apache.org/
#

# App platform binaries and built files
/platforms
/node_modules

# Optional to ignore plugin Git clones
/plugins
